<div class="container">
    <footer id="site_footer">
        <div class="row">

            <div class="col-md-12">
                <ul class="list-inline pull-right">
                    <li><a href="http://www.facebook.com/CountryRoad" target="_blank" class="fa fa-facebook-square fa-3x social"></a></li>
                    <li><a href="http://twitter.com/countryroad" target="_blank" class="social_twitter">Twitter</a></li>
                    <li><a href="http://www.instagram.com/countryroad" target="_blank" class="social_instagram">Instagram</a></li>
                    <li><a href="http://www.pinterest.com/countryroad" target="_blank" class="social_pinterest">Pinterest</a></li>
                 </ul>
            </div>
        </div>
        
        <hr>
        <div class="row">
            
            <div class="col-md-3">
                <p class="pull-left">eCommerce Solution by SNOW</p>
            </div>      
            <div class="col-md-9">
                <ul class="list-inline pull-right">
                 
                    <li><a>© A.K.</a></li>
                    <li><a title="Privacy" href="/privacy-policy" target="_blank">Privacy</a></li>
                    <li><a title="Terms &amp; Conditions" href="/terms-and-conditions" target="_blank">Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>