<div class="col-md-12" style="background-color:#e6e6e6; padding-left:10px; padding-right:10px;">
   
    <div class="row">
        <div class="col-md-12" style="height:20px;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="height:20px;">
            <ul class="list-inline pull-right">
                <li><a href="http://www.facebook.com/ak" target="_blank" class="fa fa-facebook-square fa-2x"></a></li>
                <li><a href="http://www.instagram.com/ak" target="_blank" class="fa fa-instagram fa-2x"></a></li>
                <li><a href="http://www.wechat.com/ak" target="_blank" class="fa fa-weixin fa-2x"></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr style="border-top: 1px solid #bfbfbf" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="pull-left">eCommerce Solution by SNOW</p>

            <ul class="list-inline pull-right">
                <li><a>© A.K.</a></li>
                <li><a title="Privacy" href="/privacy-policy" target="_blank">Privacy</a></li>
                <li><a title="Terms &amp; Conditions" href="/terms-and-conditions" target="_blank">Terms &amp; Conditions</a></li>
            </ul>
        </div>
    </div>
</div>